@font-face {
    font-family: 'TwaySky';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwaySky.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwaySky.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwaySky.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwaySky.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwaySky.ttf') format("truetype");
    font-display: swap;
} 