@font-face {
    font-family: 'TwayAir';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwayAir.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwayAir.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwayAir.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwayAir.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/tway/TwayAir.ttf') format("truetype");
    font-display: swap;
} 